<header>
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<img  id="logo" src="C:\Users\Acer\Desktop\New folder\royal-dining-logo.png" />
        </div>

				<ul id="home" class="nav">
					<li class="list class"><a class="navi active" routerLink="/home" routerLinkActive="active" >Home</a></li>
					<li class="list"><a class="navi" href="">Menu</a></li>
					<li class="list"><a class="navi" href="">Contacts</a></li>
					<li class="list"><a class="navi" href="">Offers</a></li>
					<li class="list"><a class="navi" routerLink="/chatbot" >Bot</a></li>
					<li class="list">
						<form class="navbar-form ">
							<div class="input-group">
								<input type="text"  class="searchbar"  placeholder="Search" />
								<button type="submit" class="searchbar"><i class="glyphicon glyphicon-search"></i></button>

							</div>
						</form>
					</li>

				</ul>
			</div>
	</nav>
</header>