<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h1 class=" header text-uppercase">Menu</h1>
			<hr>
		</div>
	</div>

	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">indian</h4>
			<h5 class="text-center quicksand-font text-uppercase">Tiffins</h5>
			<p class="">Chapathi</p>
			<p class="">Idli Sambar</p>
			<p class="">Masala Dosa</p>
			<p class="">Pulka</p>
			<p class="">Upma</p>
			<h5 class="text-center quicksand-font text-uppercase">Biryani</h5>
			<p class="">Veg Biryani</p>
			<p class="">Mushroom Biryani</p>
			<p class="">Egg Biryani</p>
			<p class="">Chicken Biryani</p>
			<p class="">Mutton Biryani</p>
		</div>
	</div><br><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">chineese</h4>
			<h5 class="text-center quicksand-font text-uppercase">Noodles</h5>
			<p class="">Veg Noodles</p>
			<p class="">Egg Noodles</p>
			<p class="">Gobi Noodles</p>
			<h5 class="text-center quicksand-font text-uppercase">Manchurian</h5>
			<p class="">Veg Manchurian</p>
			<p class="">Gobi Manchurian</p>
			<p class="">Chicken Manchurian</p>
		</div>
	</div><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">italian</h4>
			<h5 class="text-center quicksand-font text-uppercase">Pizza</h5>
			<p class="">Cheese Pizza</p>
			<p class="">Chicken Pizza</p>
			<p class="">Pepperoni Pizza</p>
		</div>
	</div><br>
	<div class="row d-flex justify-content-center">
		<div class="col-10 pb-5 text-center">
			<h4 class="text-center quicksand-font text-uppercase">Desserts</h4>
			<p class=" ">Vanilla ice cream</p>
			<p class=" ">Strawberry ice cream</p>
			<p class=" ">Butterscotch ice cream</p>
			<p class=" ">Chocolate Brownie</p>
		</div>
	</div>
</div>