/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'); */



.gallery {
  width: 200px;
  height: 400px;
}
.option{
  border:solid;
}
.container{
  margin-top: 20px;;
}
carousel {
z-index: 60;
width:1350px;
height:650px;
}

/* @media only screen and (max-width: 600px) 
{
  carousel {
z-index: 60;
width:400px;
height:300px;
}
}


@media only screen and (min-width: 600px) {
   carousel {
z-index: 60;
width:700px;
height:650px;
}
}

@media only screen and (min-width: 768px) {
     carousel {
z-index: 60;
width:700px;
height:650px;
}
}

@media only screen and (min-width: 992px) {
    carousel {
z-index: 60;
width:992px;
height:650px;
}
} 

@media only screen and (min-width: 1200px) {
  carousel {
z-index: 60;
width:1350px;
height:650px;
}
} */
